.row
  .col-12
    %h3 Formats
    %p
      Revolution Manifesto focuses primarily on Revolution, our rotating format, but you can see what our Eternal format (of all sets previously legal) looks like as well:
    %ul
      - @formats.sort_by(&:format_pretty_name).each do |format|
        %li
          = link_to format.format_pretty_name, action: "show", id: format.format_pretty_name.parameterize
